-- {{ header }}
WITH
  _current AS (
    SELECT
      usage_profile_id,
      {% raw %}
      {% if is_init() %}
      MIN(submission_date) AS first_seen_date,
      {% else %}
      @submission_date AS first_seen_date,
      {% endif %}
      {% endraw %}
      {% if app_name == "firefox_desktop" %}
      app_channel,
      {% endif %}
    FROM
      `{{ project_id }}.{{ channel_dataset }}.usage_reporting_clients_daily`
    WHERE
      usage_profile_id IS NOT NULL
      {% raw %}
      {% if is_init() %}
      AND submission_date > "2014-10-10"
      {% else %}
      AND submission_date = @submission_date
      {% endif %}
      {% endraw %}
    GROUP BY
      usage_profile_id
      {% if app_name == "firefox_desktop" %}
      , app_channel
      {% endif %}
  ),
_previous AS (
  SELECT
    usage_profile_id,
    {% if app_name == "firefox_desktop" %}
      app_channel,
    {% endif %}
  FROM
    `{{ project_id }}.{{ channel_dataset }}_derived.{{ view_name }}_v1`
  WHERE
    {% raw %}
    {% if is_init() %}
    False
    {% else %}
    first_seen_date < @submission_date
    {% endif %}
    {% endraw %}
)

SELECT
  first_seen_date,
  usage_profile_id,
  {% if app_name == "firefox_desktop" %}
  -- app_channel is only needed on desktop as the single namespace
  -- contains data for all channel unlike the mobile apps.
  app_channel,
  {% endif %}
FROM
  _current
LEFT JOIN
  _previous
  USING (usage_profile_id {% if app_name == "firefox_desktop" %}, app_channel{% endif %})
WHERE
  _previous.usage_profile_id IS NULL
QUALIFY
  IF(
    COUNT(*) OVER (PARTITION BY usage_profile_id) > 1,
    ERROR("Duplicate usage_profile_id combination detected."),
    TRUE
  )
