-- {{ header }}
CREATE OR REPLACE VIEW
  `{{ project_id }}.{{ app_name }}.{{ view_name }}`
AS
SELECT
  *,
  `mozfun.norm.browser_version_info`(app_version).major_version AS app_version_major,
  `mozfun.norm.browser_version_info`(app_version).minor_version AS app_version_minor,
  `mozfun.norm.browser_version_info`(app_version).patch_revision AS app_version_patch_revision,
  `mozfun.norm.browser_version_info`(app_version).is_major_release AS app_version_is_major_release,
  {% if app_name == "firefox_desktop" %}
  COALESCE(
    `mozfun.norm.windows_version_info`(os, os_version, windows_build_number),
    os_version
  ) AS os_version_build,
  CAST(`mozfun.norm.extract_version`(COALESCE(`mozfun.norm.windows_version_info`(os, os_version, windows_build_number), os_version), "major") AS INTEGER) AS os_version_major,
  CAST(`mozfun.norm.extract_version`(COALESCE(`mozfun.norm.windows_version_info`(os, os_version, windows_build_number), os_version), "minor") AS INTEGER) AS os_version_minor,
  {% else %}
  CAST(`mozfun.norm.extract_version`(os_version, "major") AS INTEGER) AS os_version_major,
  CAST(`mozfun.norm.extract_version`(os_version, "minor") AS INTEGER) AS os_version_minor,
  {% endif %}
FROM
  `{{ project_id }}.{{ app_name }}_derived.{{ view_name }}_v1`
