repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: no-commit-to-branch
    args: [--branch, main, --branch, master]
- repo: local
  hooks:
  - id: bqetl_format
    name: bqetl_format
    language: script
    entry: ./bqetl format --check
    types: [sql]
    exclude: sql_generators/.+\.sql$
  - id: bqetl_backfill_validate
    name: bqetl_backfill_validate
    language: script
    entry: ./bqetl backfill validate-multiple --ignore-missing-metadata
    types: [yaml]
    files: ^.+/backfill\.yaml$
  - id: black
    name: black
    language: system
    entry: ./venv/bin/black
    types_or: [python, pyi]
    require_serial: true
  - id: flake8
    name: flake8
    language: system
    entry: ./venv/bin/flake8
    types: [python]
    require_serial: true
  - id: yamllint
    name: yamllint
    language: system
    entry: ./venv/bin/yamllint -c .yamllint.yaml
    types: [file, yaml]
  - id: isort
    name: isort
    language: system
    entry: ./venv/bin/isort --filter-files
    types_or: [cython, pyi, python]
    require_serial: true
  # TODO: Switch to ruff, since pydocstyle was officially deprecated in Nov 2023
  - id: pydocstyle
    name: pydocstyle
    language: system
    entry: ./venv/bin/pydocstyle
    types: [python]
    exclude: setup\.py|(.*/)?test_.*\.py
  - id: mypy
    name: mypy
    language: system
    entry: ./venv/bin/mypy --ignore-missing-imports --scripts-are-modules
    types_or: [python, pyi]
    exclude: sql/.+/.+/.+/query\.py$
    require_serial: true
