repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: no-commit-to-branch
    args: [--branch, main, --branch, master]
- repo: https://github.com/psf/black
  rev: 24.10.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    exclude: dags/
- repo: https://github.com/adrienverge/yamllint
  rev: v1.35.1
  hooks:
  - id: yamllint
    args: [-c, .yamllint.yaml, .]
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
  - id: isort
# This pre-commit hook has been archived on Nov 2023
- repo: https://github.com/PyCQA/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    exclude: dags/|(.*/)?test_.*\.py|setup.py
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.991
  hooks:
  - id: mypy
    exclude: sql/.+/.+/.+/query\.py$
    additional_dependencies:
    - attrs==25.1.0,
    - types-pytz==2025.1.0.20250204,
    - types-ujson==5.10.0.20240515,
    - types-python-dateutil==2.9.0.20241206,
    - types-requests==2.32.0.20241016,
    - types-PyYAML==6.0.12.20241230
- repo: local
  hooks:
  - id: bqetl_format
    name: bqetl_format
    language: script
    entry: ./bqetl
    args: [format, --check]
    types: [sql]
- repo: local
  hooks:
  - id: bqetl_backfill_validate
    name: bqetl_backfill_validate
    language: script
    entry: ./bqetl
    args: [backfill, validate, --ignore-missing-metadata]
    types: [yaml]
    files: ^.+.backfill.yaml$
