repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.4.0
  hooks:
  - id: trailing-whitespace
  - id: no-commit-to-branch
    args: [--branch, main, --branch, master]
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
  - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 3.8.3
  hooks:
  - id: flake8
    exclude: dags/
- repo: https://github.com/adrienverge/yamllint
  rev: v1.26.0
  hooks:
  - id: yamllint
    args: [-c, .yamllint.yaml, .]
- repo: https://github.com/PyCQA/isort
  rev: 5.7.0
  hooks:
  - id: isort
- repo: https://github.com/PyCQA/pydocstyle
  rev: 5.1.1
  hooks:
  - id: pydocstyle
    exclude: dags/|(.*/)?test_.*\.py|setup.py
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.982
  hooks:
  - id: mypy
    additional_dependencies: [types-pytz==2022.4.0.0, types-ujson==5.5.0,
                              types-python-dateutil==2.8.19, types-requests==2.28.11.2,
                              types-attrs==19.1.0, types-PyYAML==6.0.12]
