gcloud==0.18.3
google-cloud-bigquery==1.24.0
google-cloud-storage==1.27.0
Jinja2==2.11.1
pytest-black==0.3.8
pytest-docstyle==1.5.0
pytest-flake8==1.0.4
pytest-mypy==0.4.2
pytest-xdist==1.31.0
pytest-dependency==0.5.1
pytest==5.3.5
PyYAML==5.3
smart_open==1.10.0
sqlparse==0.3.0
mozilla_schema_generator==0.1.4
