gcloud==0.18.3
google-cloud-bigquery==1.28.0
google-cloud-storage==1.31.2
Jinja2==2.11.2
pytest-black==0.3.11
pytest-pydocstyle==2.2.0
pytest-flake8==1.0.6
pytest-mypy==0.7.0
pytest-xdist==2.1.0
pytest==6.1.0
PyYAML==5.3.1
smart_open==2.1.1
sqlparse==0.3.1
mozilla_schema_generator==0.1.4
GitPython==3.1.8
cattrs==1.0.0
attrs==20.2.0
typing==3.7.4.3
click==7.1.2
incremental==17.5.0
stripe==2.53.0
ujson==3.2.0
pandas==1.1.2
