attrs==23.1.0
authlib==1.2.1
black==23.7.0
cattrs==23.1.2
click==8.1.7
exceptiongroup==1.1.3 # for backwards compatibility with python < 3.11
flake8<5 # pytest-flake8 does not support flake8 5+
gcsfs==2023.6.0
gcloud==0.18.3
gitpython==3.1.35
google-cloud-bigquery==3.11.4
google-cloud-storage==2.10.0
Jinja2==3.1.2
jsonschema==4.19.0
markdown-include==0.8.1
mdx_truly_sane_lists==1.3
mkdocs==1.5.2
mkdocs-material==9.3.1
mkdocs-awesome-pages-plugin==2.9.2
mozilla-metric-config-parser==2023.9.1
mozilla-schema-generator==0.5.1
pandas==2.1.0
pathos==0.3.1
pip-tools==7.3.0
pre-commit==3.4.0
pyarrow==13.0.0
pytest-black==0.3.12
pytest-flake8==1.1.1
pytest-isort==3.1.0
pytest-mypy==0.10.3
pytest-pydocstyle==2.3.2
pytest-xdist==3.3.1
pytest==7.4.2
PyYAML==6.0.1
smart_open==6.4.0
sqlglot==18.4.0
sqlparse==0.4.4
stripe==6.4.0
tomli==2.0.1 # for backwards compatibility with python < 3.11
types-python-dateutil==2.8.19.14
types-pytz==2023.3.0.1
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
types-ujson==5.8.0.1
typing==3.7.4.3
ujson==5.8.0
yamllint==1.32.0
