destination_dataset = "firefox_accounts_derived"
platform = "firefox_accounts"
owners = ["ksiegler@mozilla.org"]  # optional; users getting notification if funnel run fails
version = "1"  # optional; default is set to 1
start_date = "2024-01-01"

[funnels]

[funnels.login_overall_success_by_service]

friendly_name = "Login Funnel Conversion by Service"
description = "Overall login funnel conversion rates by Service"
steps = ["login_view", "login_complete"]
dimensions = ["service"]

[steps]

[steps.login_view]
friendly_name = "Login View Form"
description = "View of the top of the login funnel"
data_source = "monitor_frontend"
select_expression = "metrics.string.session_flow_id"
where_expression = "metrics.string.event_name = 'login_view'"
aggregation = "count distinct"
join_previous_step_on = "metrics.string.session_flow_id"

[steps.login_complete]
friendly_name = "Successful Login Completion"
description = "The login flow was completed successfully"
data_source = "monitor_backend"
select_expression = "metrics.string.session_flow_id"
where_expression = "metrics.string.event_name = 'login_complete'"
aggregation = "count distinct"
join_previous_step_on = "metrics.string.session_flow_id"

[data_sources]

[data_sources.monitor_frontend]
from_expression = "mozdata.accounts_frontend.accounts_events"
submission_date_column = "DATE(submission_timestamp)"
client_id_column = "client_info.client_id"

[data_sources.monitor_backend]
from_expression = "mozdata.accounts_backend.accounts_events"
submission_date_column = "DATE(submission_timestamp)"
client_id_column = "client_info.client_id"

[dimensions]

[dimensions.service]
data_source = "monitor_frontend"
select_expression = "IF(COALESCE(NULLIF(metrics.string.relying_party_oauth_client_id, ''), NULLIF(metrics.string.relying_party_service, '')) = 'sync', '5882386c6d801776', COALESCE(NULLIF(metrics.string.relying_party_oauth_client_id, ''), NULLIF(metrics.string.relying_party_service, '')))"
friendly_name = "Service"
description = "Oauth Client ID is used to map to service name for which service the user logged in through"
client_id_column = "client_info.client_id"
