click==8.0.4
google-cloud-bigquery==1.27.2
google-cloud-bigquery-storage==1.0.0
google-cloud-storage==1.31.0
Jinja2==2.11.3
matplotlib==3.3.2
numpy==1.19.2
pandas==1.1.2
pandas-gbq==0.13.2
pytest==6.0.2
pytest-black==0.3.11
pytest-flake8==1.0.6
plotly==4.9.0
pyarrow==1.0.1
MarkupSafe==2.0.1
