type: BIGCONFIG_FILE
auto_apply_on_indexing: True

table_deployments:
  - collection:
      name: Fenix_derived
    deployments:
      - fq_table_name: data-observability-dev.data-observability-dev.fenix_derived.events_daily_v1
        row_creation_time: submission_date
        table_metrics:
          - metric_type: 
              predefined_metric: COUNT_ROWS
        columns:  
          - column_name: client_id
            metrics:  
              - metric_type:
                  predefined_metric: PERCENT_NULL
              - metric_type:
                  predefined_metric: COUNT_DUPLICATES
          - column_name: channel
            metrics:
              - metric_type:
                  predefined_metric: PERCENT_NULL
              - metric_type:
                  predefined_metric: COUNT_DISTINCT
              - metric_type:
                  predefined_metric: PERCENT_VALUE_IN_LIST
                parameters:              
                  - key: list
                    string_value: "release,beta,nightly"
          - column_name: events
            metrics:
              - metric_type:
                  predefined_metric: PERCENT_NULL
              - metric_type:
                  predefined_metric: COUNT_DISTINCT
              - metric_type:
                  predefined_metric: PERCENT_VALUE_IN_LIST
                parameters:              
                  - key: list
                    string_value: "release,beta,nightly" 
