# Generated via https://github.com/mozilla/bigquery-etl/blob/main/bigquery_etl/query_scheduling/copy_deduplicate_task_markers.py

from airflow import DAG
from airflow.operators.empty import EmptyOperator
from airflow.sensors.external_task import ExternalTaskMarker
from airflow.utils.task_group import TaskGroup
import datetime

docs = """
### {{ name }}

Generated DAG that propagates `copy_deduplicate` task clears to every
downstream bqetl DAG via `ExternalTaskMarker`s.

The `copy_deduplicate` DAG has a single marker per source task pointing at
the `{source_task_id}_marker` tasks in this DAG. When a source task is cleared, the clear
propagates through the markers here, propagating to every downstream
`wait_for_{source_task_id}` sensor in the corresponding bqetl DAGs.

This DAG is generated in bigquery-etl so that new bqetl DAGs appear automatically
without requiring a change to `copy_deduplicate.py`.

### Triage notes

This DAG contains only task markers, so its state should match copy_deduplicate. Tasks here
typically should not be directly cleared or marked as success/fail. Instead, the tasks in
copy_deduplicate should be cleared with "Recursive" selected.
"""

default_args = {
    "owner": "{{ owner }}",
    "start_date": datetime.datetime(2026, 4, 23),
    "email": {{ email }},
    "email_on_failure": True,
    "email_on_retry": False,
    "retries": 1,
    "retry_delay": datetime.timedelta(minutes=30),
}

tags = {{ tags }}

with DAG(
    "{{ name }}",
    default_args=default_args,
    schedule_interval="{{ schedule_interval }}",
    doc_md=docs,
    tags=tags,
    catchup=True,
) as dag:
    {% if not sources %}
    EmptyOperator(task_id="noop")
    {% endif %}
    {% for source_task_id, consumers in sources %}
    {{ source_task_id }}_marker = EmptyOperator(
        task_id="{{ source_task_id }}_marker",
    )

    with TaskGroup("{{ source_task_id }}_task_markers") as {{ source_task_id }}_task_markers:
        {% for consumer in consumers %}
        ExternalTaskMarker(
            task_id="{{ consumer.dag_name }}__{{ source_task_id }}",
            external_dag_id="{{ consumer.dag_name }}",
            external_task_id="wait_for_{{ source_task_id }}",
            {% if consumer.execution_delta_seconds != 0 -%}
            execution_date="{% raw %}{{{% endraw %} (logical_date + macros.timedelta(seconds={{ consumer.execution_delta_seconds }})).isoformat() {% raw %}}}{% endraw %}",
            {%- endif %}
        )
        {% endfor %}

    {{ source_task_id }}_marker >> {{ source_task_id }}_task_markers
    {% endfor %}
