{% macro min_rows(threshold, where) %}
  {% set threshold = threshold|default(1) %}

  WITH min_rows AS (
    SELECT COUNT(*) AS total_rows
    FROM `{{ project_id }}.{{ dataset_id }}.{{ table_name }}`
    {% if where %}
    WHERE {{ where }}
    {% endif %}
  )
  SELECT IF(
   (SELECT COUNTIF(total_rows < {{ threshold }}) FROM min_rows) > 0,
   ERROR(CONCAT("Less than ", (SELECT total_rows FROM min_rows), " rows found (expected more than {{ threshold }})")),
   NULL
  );
{% endmacro %}
