type: BIGCONFIG_FILE

tag_deployments:
  - collection:
      name: {{ bigeye_collection }}
      notification_channels:
        - slack: '{{ bigeye_notification_slack_channel }}'
    deployments:
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ dataset }}_derived.{{ name }}_{{ version }}.first_seen_date
        - name: {{ project_id }}.{{ project_id }}.{{ dataset }}_derived.{{ name }}_{{ version }}.app_name
        - name: {{ project_id }}.{{ project_id }}.{{ dataset }}_derived.{{ name }}_{{ version }}.is_mobile
        metrics:
          - saved_metric_id: is_not_null
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ dataset }}_derived.{{ name }}_{{ version }}.normalized_channel
        metrics:
          - saved_metric_id: is_99_percent_valid_normalized_channel
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ dataset }}_derived.{{ name }}_{{ version }}.*
        metrics:
          - saved_metric_id: volume
          - saved_metric_id: freshness
