---
site_name: BigQuery ETL
site_description: Mozilla BigQuery ETL
site_author: Mozilla Data Platform Team

# Repository
repo_name: mozilla/bigquery-etl
repo_url: https://github.com/mozilla/bigquery-etl/
edit_uri: ""

# Configuration
theme:
  name: material
  features:
    - navigation.tabs
  palette:
    primary: teal
  favicon: favicon.png
  custom_dir: overrides

google_analytics:
  - UA-104326577-3
  - auto

markdown_extensions:
  - mdx_truly_sane_lists
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tasklist
plugins:
  - search
  - awesome-pages
nav:
  - index.md
  - Datasets:
      - ... | mozdata/**.md
  - UDFs:
      - ... | mozfun/**.md
  - Cookbooks:
      - Common workflows: cookbooks/common_workflows.md
      - Creating a derived dataset: cookbooks/creating_a_derived_dataset.md
      - Testing: cookbooks/testing.md
      - Adding Data Checks: cookbooks/adding_data_checks.md
  - Reference:
      - bqetl CLI: bqetl.md
      - Recommended practices: reference/recommended_practices.md
      - Incremental queries: reference/incremental.md
      - Scheduling: reference/scheduling.md
      - Public data: reference/public_data.md
      - Airflow Tags: reference/airflow_tags.md
      - Data Checks: reference/data_checks.md
