{{ header_yaml }}
type: BIGCONFIG_FILE

tag_deployments:
  - collection:
      name: Operational Checks
      notification_channels:
        - slack: '#de-bigeye-triage'
    deployments:
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.submission_date
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.client_id
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.sample_id
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.first_seen_date
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.days_seen_bits
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.days_active_bits
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.days_created_profile_bits
        metrics:
          - saved_metric_id: is_not_null
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.normalized_channel
        metrics:
          - saved_metric_id: is_valid_channel
      # For now being commented out due to a bug in the predefined metric (wrong regex being used) resulting in 0 matches.
      # Will uncomment once the underlaying issue has been fixed.
      # - column_selectors:
      #   - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.client_id
      #   metrics:
      #     - saved_metric_id: is_valid_client_id
      #     - saved_metric_id: is_unique
      #       lookback:
      #         lookback_type: DATA_TIME
      #         lookback_window:
      #           interval_type: DAYS
      #           interval_value: 0
      #       rct_overrides:
      #         - submission_date
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.*
        metrics:
          - saved_metric_id: freshness
          - saved_metric_id: volume
