{{ header_yaml }}
type: BIGCONFIG_FILE

tag_deployments:
  - collection:
      name: Operational Checks
      notification_channels:
        - slack: '#de-bigeye-triage'
    deployments:
      - column_selectors:
          - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.submission_date
          - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.client_id
          - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.sample_id
          - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.first_seen_date
          - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.first_run_date
          - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.durations
          - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.normalized_os
          - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.normalized_os_version
        metrics:
          - saved_metric_id: is_not_null
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.normalized_channel
        metrics:
          - saved_metric_id: is_valid_channel
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ derived_dataset }}.{{ target_table }}.*
        metrics:
          - saved_metric_id: freshness
          - saved_metric_id: volume
