type: BIGCONFIG_FILE
tag_deployments:
- collection:
    name: Operational Checks
    notification_channels:
    - slack: '#de-bigeye-triage'
  deployments:
  - column_selectors:
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.telemetry_stable.main_v5.*
    metrics:
    - saved_metric_id: volume
    - saved_metric_id: freshness
