type: BIGCONFIG_FILE
row_creation_times:
  column_selectors:
  - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.submission_date
saved_metric_definitions:
  metrics:
  - saved_metric_id: PERCENT_NULL_net_thunderbird_android_daily_derived
    metric_type:
      type: PREDEFINED
      predefined_metric: PERCENT_NULL
    metric_name: Null (%)
    group_by:
    - submission_date
    threshold:
      type: CONSTANT
      upper_bound: 0.0
      lower_bound: 0.0
    lookback:
      lookback_window:
        interval_type: DAYS
        interval_value: -1
      lookback_type: METRIC_TIME
      bucket_size: DAY
    metric_schedule:
      named_schedule:
        name: Default Schedule - 13:00 UTC
    rct_overrides:
    - submission_date
  - saved_metric_id: FRESHNESS_net_thunderbird_android_daily_derived
    metric_type:
      type: PREDEFINED
      predefined_metric: FRESHNESS
    metric_name: FRESHNESS [warn]
    threshold:
      type: AUTO
      sensitivity: MEDIUM
      upper_bound_only: true
      lower_bound_only: false
    lookback:
      lookback_window:
        interval_type: DAYS
        interval_value: -1
      lookback_type: METRIC_TIME
      bucket_size: HOUR
    metric_schedule:
      named_schedule:
        name: Default Schedule - 13:00 UTC
    rct_overrides:
    - submission_date
  - saved_metric_id: VOLUME_net_thunderbird_android_daily_derived
    metric_type:
      type: PREDEFINED
      predefined_metric: VOLUME
    metric_name: VOLUME [fail]
    threshold:
      type: AUTO
      sensitivity: MEDIUM
      upper_bound_only: false
      lower_bound_only: false
    lookback:
      lookback_window:
        interval_type: DAYS
        interval_value: -1
      lookback_type: METRIC_TIME
      bucket_size: HOUR
    metric_schedule:
      named_schedule:
        name: Default Schedule - 13:00 UTC
    rct_overrides:
    - submission_date
  - saved_metric_id: COUNT_DUPLICATES_net_thunderbird_android_daily_derived
    metric_type:
      type: PREDEFINED
      predefined_metric: COUNT_DUPLICATES
    metric_name: Duplicates (#)
    group_by:
    - submission_date
    threshold:
      type: AUTO
      sensitivity: MEDIUM
      upper_bound_only: false
      lower_bound_only: false
    lookback:
      lookback_window:
        interval_type: DAYS
        interval_value: -1
      lookback_type: METRIC_TIME
      bucket_size: DAY
    metric_schedule:
      named_schedule:
        name: Default Schedule - 13:00 UTC
    rct_overrides:
    - submission_date
  - saved_metric_id: STRING_LENGTH_MAX_net_thunderbird_android_daily_derived
    metric_type:
      type: PREDEFINED
      predefined_metric: STRING_LENGTH_MAX
    metric_name: Maximum string length
    threshold:
      type: CONSTANT
      upper_bound: 36.0
    lookback:
      lookback_window:
        interval_type: DAYS
        interval_value: -1
      lookback_type: METRIC_TIME
      bucket_size: DAY
    metric_schedule:
      named_schedule:
        name: Default Schedule - 13:00 UTC
    rct_overrides:
    - submission_date
tag_deployments:
- collection:
    name: Thunderbird
    description: Alerts related to all applicable thunderbird datasets
  deployments:
  - column_selectors:
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.submission_date
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.sample_id
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.first_seen_date
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.days_seen_session_start_bits
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.days_seen_session_end_bits
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.days_seen_bits
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.days_created_profile_bits
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.days_active_bits
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.client_id
    metrics:
    - saved_metric_id: PERCENT_NULL_net_thunderbird_android_daily_derived
  - column_selectors:
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.*
    metrics:
    - saved_metric_id: FRESHNESS_net_thunderbird_android_daily_derived
    - saved_metric_id: VOLUME_net_thunderbird_android_daily_derived
  - column_selectors:
    - name: moz-fx-data-shared-prod.moz-fx-data-shared-prod.net_thunderbird_android_daily_derived.baseline_clients_last_seen_v1.client_id
    metrics:
    - saved_metric_id: COUNT_DUPLICATES_net_thunderbird_android_daily_derived
    - saved_metric_id: STRING_LENGTH_MAX_net_thunderbird_android_daily_derived
