type: BIGCONFIG_FILE

tag_deployments:
  - collection:
      name: {{ bigeye_collection }}
      notification_channels:
        - slack: '{{ bigeye_notification_slack_channel }}'
    deployments:
      - column_selectors:
        - name: {{ project_id }}.{{ project_id }}.{{ dataset }}.{{ name }}_{{ version }}.*
        metrics:
          - saved_metric_id: volume
          - saved_metric_id: freshness
